<div fxLayout.sm="row" fxLayoutAlign.gt-sm="space-between center">
  <h4>User Data Table</h4>
  <div style="max-width: 145px;">
    <input class="form-control-small br-4 bdr-lgrey" matInput (keyup)="applyFilter($event)" placeholder="Filter Table" #input >
  </div>
</div>

<div class="mat-table-container mt-sm">
  <table mat-table [dataSource]="dataSource" matSort class="table-responsive-fn" [multiTemplateDataRows]="true">

    <!-- Color Column -->
    <ng-container matColumnDef="leadId" >
      <th class="responsiveMobile" mat-header-cell *matHeaderCellDef mat-sort-header> Lead ID</th>
      <td class="responsiveMobile" mat-cell *matCellDef="let row;let i = dataIndex;">        
        <button class="xs-fab" (click)="comboControl[i] = !comboControl[i]" mat-mini-fab success aria-label="Example icon button with a home icon">
          +
        </button> {{row.leadId ? row.leadId : "-"}}

        
      </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="leadName">
      <th class="responsiveMobile" mat-header-cell *matHeaderCellDef mat-sort-header> Lead Name</th>
      <td class="responsiveMobile" mat-cell *matCellDef="let row">        
        {{row.fullName ? row.fullName : "-"}}
       
      </td>
    </ng-container>


    <!-- ID Column -->
    <ng-container matColumnDef="collegePayout">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> College Payout </th>
      <td mat-cell *matCellDef="let row"> {{row.collegePayout ? row.collegePayout : "-"}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="disbursementDatetime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Disbursement</th>
      <td mat-cell *matCellDef="let row">
      <strong>Date : </strong> {{row.disbursementDatetime ? row.disbursementDatetime : "-"}} <br>
      <strong>ID : </strong> {{row.disbursmentId ? row.disbursmentId : "-"}}
      </td>
      
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="lead">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Lead </th>
      <td mat-cell *matCellDef="let row">        
        <strong>Lead ID : </strong>{{row.leadId ? row.leadId : "-"}} <br>
        <strong>Name : </strong>{{row.fullName ? row.fullName : "-"}} <br>
        <strong>Email : </strong>{{row.emailId ? row.emailId : "-"}} <br> 
        <strong>Lead Type : </strong>{{row.leadType ? row.leadType : "-"}} <br>
        <strong>Mobile : </strong>{{row.mobile ? row.mobile : '-'}}
      </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="loanData">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Loan Data</th>
      <td mat-cell *matCellDef="let row" >
        <strong>Loan Required : </strong>{{row.loanRequired ? row.loanRequired : "-"}}<br>
        <strong>Loan Status : </strong>{{row.status ? row.status : "-"}}<br>
        <strong>Loan Tenure : </strong>{{row.tenure ? row.tenure : "-"}}
      </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="productData">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Data</th>
      <td mat-cell *matCellDef="let row" > {{row.productData ? row.productData : "-"}} </td>
    </ng-container>

     <!-- Color Column -->
     <ng-container matColumnDef="utr">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>UTR</th>
      <td mat-cell *matCellDef="let row" > {{row.utr ? row.utr : "-"}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="whj">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>WHJ</th>
      <td mat-cell *matCellDef="let row" >
        <strong>Email : </strong> {{row.whjUserEmail ? row.whjUserEmail : "-"}}<br>
        <strong>Mobile : </strong>{{row.whjUserMobile ? row.whjUserMobile : "-"}}<br>
        <strong>Name : </strong>{{row.whjUserName ? row.whjUserName : "-"}}
      </td>
    </ng-container>


    <ng-container matColumnDef="expandedDetail">
      <td mat-cell class="responsiveMobile combo hide" [ngClass]="{'hide' : !comboControl[i]}" *matCellDef="let row;let i = dataIndex;">
        <strong>Name : </strong><br>{{row.fullName ? row.fullName : "-"}} <br><br>
        <strong>Email : </strong><br>{{row.emailId ? row.emailId : "-"}} <br> <br>
        <strong>Lead Type : </strong><br>{{row.leadType ? row.leadType : "-"}}<br><br>
        <strong>Mobile : </strong><br>{{row.mobile ? row.mobile : '-'}}<br><br>
        <strong>Loan Required : </strong><br>{{row.loanRequired ? row.loanRequired : "-"}}<br><br>
        <strong>Loan Status : </strong><br>{{row.status ? row.status : "-"}}<br><br>
        <strong>Loan Tenure : </strong><br>{{row.tenure ? row.tenure : "-"}}<br><br>
        <strong>DISBMT. Date : </strong><br>{{row.disbursementDatetime ? row.disbursementDatetime : "-"}} <br><br>
        <strong>DISBMT. ID : </strong><br>{{row.disbursmentId ? row.disbursmentId : "-"}}
      </td>      
    </ng-container>
    <ng-container matColumnDef="expandedDetail2">
      <td mat-cell class="responsiveMobile combo hide" [ngClass]="{'hide' : !comboControl[i]}" *matCellDef="let row;let i = dataIndex;">
        <strong>College Payout : </strong><br>{{row.collegePayout ? row.collegePayout : "-"}}<br><br>
        <strong>Product Data : </strong><br>{{row.productData ? row.productData : "-"}}<br><br>
        <strong>UTR : </strong><br>{{row.utr ? row.utr : "-"}}<br><br>
        <strong>WHG Email : </strong><br>{{row.whjUserEmail ? row.whjUserEmail : "-"}}<br><br>
        <strong>WHG Mobile : </strong><br>{{row.whjUserMobile ? row.whjUserMobile : "-"}}<br><br>
        <strong>WHG Name : </strong><br>{{row.whjUserName ? row.whjUserName : "-"}}
      </td>
    </ng-container>





    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail','expandedDetail2'];">
    </tr>
    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell text-center" style="height: 150px;" colspan="13">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  
</div>

<div class="mt-sm paginator"  fxLayout="row" fxLayoutAlign="space-between  center">
  <div >
    <label>Per Page</label>
    <select class="br-4 bdr-lgrey ml-sm text-middle" [(ngModel)]="perPage" (change)="perPageChanged()">
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="30">30</option>
    </select>
  </div>
  <div>
    <button mat-stroked-button [disabled]="!pageNav.prevPage" (click)="pageNavBtn(pageNav.prevPage)" class="mr-sm"><</button><button mat-stroked-button [disabled]="!pageNav.nextPage" (click)="pageNavBtn(pageNav.nextPage)">></button>
  </div>
</div>


<div *ngIf="isLoading" class="loader" fxFill fxLayout="row" fxLayoutAlign="center center">
  <span><img src="assets/images/loader.gif" alt=""> Please Wait..</span>
</div>