<div fxLayout="row" fxLayoutAlign="space-between  center">
  <h4>User Data Table</h4>
  <div style="max-width: 200px;">
    <input class="form-control-small br-4 bdr-lgrey" matInput (keyup)="applyFilter($event)" placeholder="Filter Table" #input >
  </div>
</div>

<div class="mat-table-container mt-sm">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="collegePayout">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> College Payout </th>
      <td mat-cell *matCellDef="let row"> {{row.collegePayout ? row.collegePayout : "-"}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="disbursementDatetime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Disbursement Date time </th>
      <td mat-cell *matCellDef="let row"> {{row.disbursementDatetime ? row.disbursementDatetime : "-"}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="disbursmentId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Disbursment ID </th>
      <td mat-cell *matCellDef="let row"> {{row.disbursmentId ? row.disbursmentId : "-"}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="emailId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email ID </th>
      <td mat-cell *matCellDef="let row"> {{row.emailId ? row.emailId : "-"}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Full Name</th>
      <td mat-cell *matCellDef="let row" > {{row.fullName ? row.fullName : "-"}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="leadId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Lead ID</th>
      <td mat-cell *matCellDef="let row" > {{row.leadId ? row.leadId : "-"}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="leadType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Lead Type</th>
      <td mat-cell *matCellDef="let row" > {{row.leadType ? row.leadType : "-"}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="loanRequired">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Loan Required</th>
      <td mat-cell *matCellDef="let row" > {{row.loanRequired ? row.loanRequired : "-"}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="mobile">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</th>
      <td mat-cell *matCellDef="let row" > {{row.mobile ? row.mobile : '-'}} </td>
    </ng-container>


    <!-- Color Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let row" > {{row.status ? row.status : "-"}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="productData">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Data</th>
      <td mat-cell *matCellDef="let row" > {{row.productData ? row.productData : "-"}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="tenure">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tenure</th>
      <td mat-cell *matCellDef="let row" > {{row.tenure ? row.tenure : "-"}} </td>
    </ng-container>

     <!-- Color Column -->
     <ng-container matColumnDef="utr">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>UTR</th>
      <td mat-cell *matCellDef="let row" > {{row.utr ? row.utr : "-"}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell text-center" style="height: 150px;" colspan="13">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  
</div>

<div class="mt-sm paginator"  fxLayout="row" fxLayoutAlign="space-between  center">
  <div >
    <label>Per Page</label>
    <select class="br-4 bdr-lgrey ml-sm text-middle" [(ngModel)]="perPage" (change)="perPageChanged()">
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="30">30</option>
    </select>
  </div>
  <div>
    <button mat-stroked-button [disabled]="!pageNav.prevPage" (click)="pageNavBtn(pageNav.prevPage)" class="mr-sm"><</button><button mat-stroked-button [disabled]="!pageNav.nextPage" (click)="pageNavBtn(pageNav.nextPage)">></button>
  </div>
</div>


<div *ngIf="isLoading" class="loader" fxFill fxLayout="row" fxLayoutAlign="center center">
  <span><img src="assets/images/loader.gif" alt=""> Please Wait..</span>
</div>